[submodule "libfsntfs-sys/libfsntfs"]
	path = libfsntfs-sys/libfsntfs
	url = https://github.com/libyal/libfsntfs.git
	branch = master
[submodule "libbfio-sys/libbfio"]
	path = libbfio-sys/libbfio
	url = https://github.com/libyal/libbfio.git
	branch = master
[submodule "vstools"]
	path = common-build/vstools
	url = https://github.com/libyal/vstools.git
[submodule "libcerror-sys/libcerror"]
	path = libcerror-sys/libcerror
	url = https://github.com/libyal/libcerror.git
	branch = master
